html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Prompt', sans-serif;
}
h1,
h5 {
  color: #69197b;
  font-weight: 800;
}
ul {
  padding-left: 20px;
}
.myli li {
  line-height: 25px;
}
.btn-purple {
  background: transparent linear-gradient(180deg, #993a96 0%, #69197b 100%) 0%
    0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  border: none;
  padding: 10px 40px;
}
#partner h3 {
  color: #69197b;
  font-weight: 800;
}

#overley .btn-purple {
  padding: 10px 30px 10px 30px;
}
#overley h1 {
  color: #ffffff;
}
#overley p {
  color: #ffffff;
}
#about {
  background-image: url('../imgs/bg-why.jpg');
}
#about .mymargin {
  margin-top: 90px;
}
#blog .card-subtitle {
  font-size: 14px;
}
#blog .card {
  border-radius: 5px;
  border: none;
}
#blog .card:hover {
  transform: scale(1.025);
}
#blog a {
  color: #212529;
  text-decoration: none;
}
#blog .card-img-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#blog .shadow-sm {
  box-shadow: 0 0.125rem 1.25rem rgba(0, 0, 0, 0.075) !important;
}
#team {
  background: url('../imgs/bg-team.png');
}

#process h3 {
  color: #69197b;
}
#process .border {
  border: 1px solid #69197b !important;
}
#process .card {
  border: none;
}
#process .shadow-sm {
  box-shadow: 0 0.125rem 1.25rem rgba(0, 0, 0, 0.075) !important;
}
#news {
  background: transparent linear-gradient(180deg, #993a96 0%, #4d1d4b 100%) 0%
    0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}
#news .zoom:hover {
  transform: scale(1.025);
}
#news h1 {
  color: #ffffff;
}
#news p {
  color: #ffffff;
}
#news hr {
  background-color: #ffffff;
}

#footer {
  background-color: #222222;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #video h1 {
    font-size: 24px;
  }
  #partner h3 {
    font-size: 16px;
  }
  #service .card-deck .card {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
  }
  #service .card-title {
    font-size: 16px;
    text-align: center;
    color: #69197b;
  }
  #overley .btn-purple {
    background: transparent linear-gradient(180deg, #993a96 0%, #69197b 100%) 0%
      0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    padding: 10px 30px 10px 30px;
  }
  #overley h1 {
    font-size: 24px;
  }
  #overley p {
    font-size: 14px;
  }
  #overley {
    background: transparent linear-gradient(180deg, #993a96 0%, #4d1d4b 100%) 0%
      0% no-repeat padding-box;
    opacity: 1;
    padding-bottom: 262px;
  }
  #overley img {
    position: absolute;
    top: 133px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #team .grid-container1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  #team img {
    max-width: 110px;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  #team h5 {
    font-size: 16px;
  }
  #team p {
    font-size: 12px;
  }
  #process h1 {
    font-size: 18px;
  }
  #news .cut-text-multi {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #team img {
    max-width: 50%;
  }
  #news .cut-text-multi {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
  #overley {
    background: transparent linear-gradient(180deg, #993a96 0%, #4d1d4b 100%) 0%
      0% no-repeat padding-box;
    opacity: 1;
    padding-bottom: 262px;
  }
  #overley img {
    position: absolute;
    top: 133px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #news .cut-text-multi {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
  }
  #overley {
    background: transparent linear-gradient(180deg, #993a96 0%, #4d1d4b 100%) 0%
      0% no-repeat padding-box;
    opacity: 1;
    padding-bottom: 262px;
  }
  #overley img {
    position: absolute;
    top: 133px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #news .cut-text-multi {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }
  #overley {
    background: transparent linear-gradient(180deg, #993a96 0%, #4d1d4b 100%) 0%
      0% no-repeat padding-box;
    opacity: 1;
    padding-bottom: 33px;
  }
  #overley img {
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #news .vl {
    border-left: 0.5px solid #ffffff;
    height: 420px;
    position: absolute;
    left: 0%;
    margin-left: -3px;
    top: 0;
  }
  #news .cut-text-multi {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
  #overley {
    background: transparent linear-gradient(180deg, #993a96 0%, #4d1d4b 100%) 0%
      0% no-repeat padding-box;
    opacity: 1;
    padding-bottom: 57px;
  }
  #overley img {
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
