body {
  font-family: 'Prompt', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  color: #69197b;
  font-weight: 800;
}
.btn-purple {
  color: white;
  background-color: #69197b;
}
#about {
  background-image: url(../imgs/bg-why.jpg);
  background-size: cover;
}
#team {
  background-image: url(../imgs/bg-team.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#news {
  background-color: black;
}
.card {
  background-color: rgba(245, 245, 245, 0.1);
}
.card-header,
.card-footer {
  opacity: 1;
}
#overlay {
  background-color: black;
}
/* @media only screen and (max-width: 600px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #69197b;
    font-size: 18px;
    font-weight: 800;
  }
} */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #69197b;
    font-size: 18px;
    font-weight: 800;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
